---
{
"title":"Startseite",
"template":"../templates/html-structure.hbs",
"headline":"Lorem",
"text":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
amet."
}
---
<div class="content">
    <img id="iImgPreisvergleich" src="../public/images/titelbild.jpg" alt="Titelbild">

    <h1>Willkommen</h1>

    <div>
        <h2>{{ page.headline }}</h2>
        <p>{{ page.text }}</p>
        <hr />
    </div>

    <div>
        <h2>{{ page.headline }}</h2>
        <p>{{ page.text }}</p>
        <hr />
    </div>

    <div>
        <h2>{{ page.headline }}</h2>
        <p>{{ page.text }}</p>
        <hr />
    </div>
</div>